[submodule "External/NexusModsNET"]
	path = External/NexusModsNET
	url = https://github.com/LaughingLeader/NexusModsNET
[submodule "gong-wpf-dragdrop"]
	path = External/gong-wpf-dragdrop
	url = https://github.com/LaughingLeader/gong-wpf-dragdrop
